.center.highscore-index
	%h1 Highscores!
	%table
		%tr
			%th Rank:
			%th Player:
			%th Score:
		- @highscores.each_with_index do |highscore, index|
			%tr
				%td.rank= index + 1
				%td= highscore.name
				%td.score= highscore.score


